body {
	font-family: 'Open Sans', sans-serif;
}

.container {
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

.row {
	display: flex;
	margin: 0 -15px;
}
.flex-wrap {
	flex-wrap: wrap;
}
.rel {
	position: relative;
}

[class*="col-"] {
	padding: 0 15px;
}

.col-xs-12 {
	flex: 0 0 100%;
	max-width: 100%;
}

.block-title {
	font-size: 26px;
	line-height: 42px;
	color: #292f36;
	text-transform: uppercase;
}
.block-title:before {
	content: "";
	display: inline-block;
	width: 10px;
	height: 25px;
	background-color: #e1e6ea;
	margin: 0px 14px 0px 0px;
	vertical-align: middle;
}
.block-button {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	line-height: 44px;
	display: inline-block;
	border-radius: 5px;
	padding: 0 25px;
}
.block-button-green {
	background-color: #23b7a3;
}
.block-button-green:hover {
	background-color: #14aa96;
} 
.block-button-transp {
	background-color: transparent;
	border: 1px solid #fff;
}
.block-button-transp:hover {
	background-color: rgba(102, 102, 102, 0.3);
}

.header {
	height: 80px;
	background-color: #1d2126;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	width: 100%;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.menu {
	display: flex;
	justify-content: space-between;
	overflow-x: auto;
	margin: 10px 0px 0px 0px;
	height: 40px;
}
.menu li {
	margin: 0 5px;
}

.link {
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	line-height: 26px;
	padding: 0 10px;
	color: #a4aead;
	border: 2px solid transparent;
	border-radius: 5px;
}
.link:hover {
	border: 2px solid #a4aead;
}
.menu-item-active {
	color: #23b7a4;
	border: 2px solid #23b7a4;
}
.menu-item-active:hover {
	border: 2px solid #23b7a4;
}

.main {
	padding-top: 80px;
}

.slider {
	background: url("images/slider/1.png") center no-repeat;
	background-size: cover;
	padding: 30px 0;
}

.slider__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.slider__title {
	font-size: 26px;
	line-height: 32px;
	font-weight: 700;
	color: #fff;
	margin: 0px 0px 25px 0px;
}

.slider__text {
	font-size: 14px;
	color: #ccd0d7;
	line-height: 24px;
	margin: 0px 0px 35px 0px;
}

.slider__buttons {
	margin-bottom: 20px;
}

.slider__buttons .block-button {
	margin-right: 10px;
}

.slider__dotes {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 2;
}

.slider__dotes span {
	display: inline-block;
	width: 14px;
	height: 14px;
	border: 1px solid #fff;
	border-radius: 50%;
	margin: 0 4px;
}

.bg-white {
	background: #fff;
}

.modest {
	padding: 40px 0 25px 0;
	border-bottom: 1px solid #dde1e4;
}

.modest__title {
	margin-bottom: 20px;
}

.modest__text {
	margin: 0px 0px 30px 0px;
	font-size: 16px;
	line-height: 28px;
	color: #8d8f92;
}

.modest__social {
	display: flex;
	padding: 20px 0px 50px 0;
}

.modest__social a {
	width: 60px;
	height: 60px;
	background: #c8cdd0;
	margin: 0px 1px 0px 0px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
.modest__social a:hover {
	background: #d0d5d9;
}

.stages {
	list-style-type: none;
	counter-reset: num;
}
.stages li {
	display: flex;
	margin: 0px 0px 30px 0px;
}
.stages li:before {
	content: "0" counter(num);
	counter-increment: num;
	flex: 0 0 50px;
	width: 50px;
	height: 50px;
	background-color: #23b7a4;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	margin: 0px 17px 0px 0px;
}

.stages__title {
	display: inline-block;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: #292f36;
	margin: 0px 0px 15px 0px;
}

.stages__text {
	display: inline-block;
	font-size: 16px;
	line-height: 20px;
	color: #8d8f92;
}


.team {
	padding: 40px 0 25px 0;
}

.team__title {
	margin: 0px 0px 25px 0px;
}

.team__member {
	margin: 0px 0px 35px 0px;
}

.member-team {
}
.member-team:hover .member-team__social {
	opacity: 1;
	visibility: visible;
}
.member-team:hover .member-team__bottom {
	background-color: #3a454d;
}
.member-team:hover .member-team__bottom p {
	color: #fff;
}

.member-team__top {
	padding-bottom: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.member-team__avatar {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.member-team__social {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.4);
	opacity: 0;
	visibility: hidden;
	transition: all 0.2s ease;
}

.member-team__link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	background-color: #3a454d;
	margin: 0px 1px 0px 0px;
}
.member-team__link img {
	width: auto;
	height: 16px;
}
.member-team__social a:hover {
	background-color: #4e5a62;
}

.member-team__bottom {
	background-color: #e1e6ea;
	padding: 20px;
	transition: all 0.2s ease;
}

.member-team__name {
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	color: #292f36;
	text-transform: uppercase;
	transition: all 0.2s ease;
}

.member-team__prof {
	font-size: 14px;
	line-height: 18px;
	color: #8d8f92;
	transition: all 0.2s ease;
}

@media (min-width: 480px) {
	.col-sm-6 {
		flex: 0 0 50%;
		max-width: 50%;
	}
}


@media(min-width: 768px) {
	.container {
		max-width: 720px;
	}

	.search-form {
		width: 194px;
		height: 30px;
		border: 2px solid #a4aead;
		border-radius: 5px;
		padding: 4px;
	}
	.search-input {
		background: transparent;
		text-transform: uppercase;
		color: #a4aead;
		font-size: 14px;
		font-weight: 600;
		width: 80%;
	}
	.search-form button {
		background: transparent;
		width: 18px;
		height: 15px;
	}
	.search-form button img {
		width: 100%;
		height: 100%;
	}

	.slider__wrapper {
		height: 360px;
	}
	.slider__title {
		font-size: 36px;
		line-height: 42px;
	}
	.slider__text {
		font-size: 16px;
	}

	.block-title {
		font-size: 36px;
	}
	.block-title:before {
		height: 35px;
	}
	.modest {
		padding: 80px 0 50px 0;
	}
	.modest__title {
		margin-bottom: 50px;
	}

	.team {
		padding: 75px 0 85px 0;
	}
	.team__title {
		margin: 0px 0px 60px 0px;
	}
}

@media(min-width: 992px) {
	.continer {
		max-width: 960px;
	}
	.col-md-2 {
		flex: 0 0 16.66667%;
		max-width: 16.66667%;
	}
	.col-md-3 {
		flex: 0 0 25%;
		max-width: 25%;
	}
	.col-md-5 {
		flex: 0 0 41.66667%;
		max-width: 41.66667%;
	}
	.col-md-7 {
		flex: 0 0 58.33334%;
		max-width: 58.33334%;
	}
	.col-md-8 {
		flex: 0 0 66.66667%;
		max-width: 66.66667%;
	}

	.menu {
		display: flex;
		justify-content: space-between;
		overflow-x: auto;
		margin: 0;
		height: auto;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}

	.slider__wrapper {
		height: 660px;
	}
}

@media (max-width: 991px) {
	.hidden-xs {
		display: none;
	}
}